PORT=3306
HOST=database-integradora.cpcem6ko03c4.us-east-2.rds.amazonaws.com
NODE_ENV=development
APP_KEY=3inESRMcbFHa65Re5Ns0X3amkg2nxjDw
DRIVE_DISK=local
DB_CONNECTION=mysql
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=admin
MYSQL_PASSWORD=lakebuena
MYSQL_DB_NAME=cinesdb
